@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --main:  #0095D2;
    --dark: #1C2A34;
    --white: #fff;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

*::selection{
    background-color: var(--main);
    color: var(--white);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}