@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --main:  #0095D2;
    --dark: #1C2A34;
    --white: #fff;
    --semi-dark: #0D1D2B;
    --yellow: #ffc107;
    --green: #0DB04B
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

*::selection{
    background-color: var(--main);
    color: var(--white);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin:0 auto;
}

.main-bg {
    background: url('../images/confetti.jpg');
    background-position: center;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .block {
    margin-top: 15em;
}

.home .lottery-img{
    margin-right: 1em;
    margin-top: 18em;
}

.block {
    display: block;
}

.home h3 {
    font-size: 36px;
    color: var(--semi-dark);
}

.home p {
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 24em;
    letter-spacing: 2px;
    line-height: 32px;
}

.home a {
    background-color: var(--white);
}

.home .button {
    padding: 1.5em 4em;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: var(--dark);
}

.home .button:hover {
    background-color: #0D1D2B;
    color: #fff;
}

.bounce {
    animation: bounce 3s ease infinite
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-40px);}
    60% {transform: translateY(-20px);}
}